body {
  background: #ececec;
  color: #3d4044;
}

#board {
  overflow: hidden;
}

.slot, .tile {
  height: 64px;
  width: 64px;
  float: left;
  margin: 3px;
}

.tile {
  background: #fff;
  border: solid 1px #dbdbdb;
  border-radius: 2px;
  box-shadow: 0px 1px 1px #ccc;
  margin: 2px;

  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
  transition: background .25s ease-in-out;
}

.first {
  clear: left;
}

.color-1 {
  background: #E35B48;
}

.color-2 {
  background: #9EC500;
}

.color-3 {
  background: #2DD3FF;
}

.color-4 {
  background: #FFD442;
}